* {
    box-sizing: border-box;
    font-family: "News Cycle", cursive;
}
body {
    width: 100%;
    margin: 0;
    background-color: #EEEEEE;
}
header {
    margin: 0 auto;
    height: 12em;
    display: block;
    width: 100%;
}
h1 {
    display: inline-block;;
    text-align: left;
    margin-right: 20%;
    color: #2B3F48;
}
li, h1 {
    display: block;
    text-align: center;
    margin-right: 0;
}
p {
    font-size: 17px;
    opacity: 0.8;
}
h2{
    text-transform: lowercase;
    font-size: 45px;
}
h3 {
    font-weight: normal;
    opacity: 0.8;
}
h2, h3, p {
    width: 100%;
}
ul {
    display: block;
    padding: 0;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #656565;
}
.selected {
    color: #27AE61;
}
#bg {
    background-color: #27AE61;
    background-image: url(../images/banner.png);
    background-size: cover;
}
#bg button {
    background-color: #2B3F48;
    color :white;
    padding: 0.6em 1.5em;
    border: none;
    border-radius: 6px;
}
#bg, #white {
    color: white;
}
#white button {
    background-color: white;
    color :#27AE61;
    padding: 0.6em 1.5em;
    border: none;
    border-radius: 6px;
}
img {
    border-radius: 50%;
    margin: 1em;
    width: 60px;
}
section {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 1em 3%;
}
#nope p {
    color: #656565;
}
#nope h3 {
    color: #656565;
}
#nope h2 {
    color: #2B3F48;
}
button {
    text-transform: uppercase;
    background-color: #27AE61;
    color :white;
    padding: 0.6em 1.5em;
    border: none;
    border-radius: 6px;
    margin: 5%;
}
#white {
    background-color: #27AE61;
}
footer {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7em;
}
#footer {
    display: block;
    font-size: 10px;
    height: 6em;
    margin-top: 6em;
}
span {
    font-weight: bold;
    color: white;
}
#temp {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
}
.fotogrph {
    color: white;
    text-decoration: underline;
}
/*pageContactUs*/
form {
    background-color: #EEEEEE;
    width: 100%;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0 0 0.5em #f1f1f1;
    padding-bottom: 1.5em;
}
div {
    padding: 1em;
    background-color: #2B3F48;
    color: white;
    text-shadow: 0 0 3px #27AE61;
    margin-bottom: 1.5em;
    border-radius: 1em 1em 0 0;
}
h4 {
    font-weight: normal;
    margin: 0;
}
h5 {
    font-weight: normal;
    font-size: 0.75em;
    margin: 0;
}
fieldset label, fieldset input, fieldset textarea {
    display: block;
    width: 100%;
    border-width: thin;
}
fieldset input, fieldset textarea {
    background-color: white;
    border-radius: 0.3em;
    box-shadow: inset 1px 1px 0 0 #888888;
    border: none;
}

fieldset {
    border: none;
    background-color: #f8f8f8;
    border-radius: 0.4em;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0 1.5em 1.5em 1.5em;
}
legend {
    margin-bottom: 2em;
    margin-left: -3em;
    font-weight: bold;
    color: #27AE61;
}
label {
    font-family: sans-serif;
    font-size: 0.7em;
    color: #888888;
    display: block;
    text-align: left;
}
fieldset label:last-of-type {
    padding-top: 0.8em;
}
/*button {
    margin-left: 1.8em;
    margin-top: 1em;*/
/*}*/
#agreed {
    margin-left: 2%;
    vertical-align: middle;
}
em {
    display: inline-block;
    background-color: #27AE61;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    color: white;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.2em;
    margin-right: 1em;
    border: 2px solid white;
}
