* {
    box-sizing: border-box;
    font-family: "News Cycle", cursive;
}
body {
    width: 100%;
    margin: 0;
    background-color: #EEEEEE;
}
header {
    margin: 0 auto;
    height: 12em;
    display: block;
    width: 100%;
}
h1 {
    display: inline-block;;
    text-align: left;
    margin-right: 20%;
    color: #2B3F48;
}
li, h1 {
    display: block;
    text-align: center;
    margin-right: 0;
}
p {
    font-size: 17px;
    opacity: 0.8;
}
h2{
    text-transform: lowercase;
    font-size: 45px;
}
h3 {
    font-weight: normal;
    opacity: 0.8;
}
h2, h3, p {
    width: 100%;
}
ul {
    display: block;
    padding: 0;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #656565;
}
.selected {
    color: #27AE61;
}
#bg {
    background-color: #27AE61;
    background-image: url(../images/banner.png);
    background-size: cover;
}
#bg button {
    background-color: #2B3F48;
    color :white;
    padding: 0.6em 1.5em;
    border: none;
    border-radius: 6px;
}
#bg, #white {
    color: white;
}
#white button {
    background-color: white;
    color :#27AE61;
    padding: 0.6em 1.5em;
    border: none;
    border-radius: 6px;
}
img {
    border-radius: 50%;
    margin: 1em;
    width: 60px;
}
section {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 1em;
}
#nope p {
    color: #656565;
}
#nope h3 {
    color: #656565;
}
#nope h2 {
    color: #2B3F48;
}
button {
    text-transform: uppercase;
    background-color: #27AE61;
    color :white;
    padding: 0.6em 1.5em;
    border: none;
    border-radius: 6px;
}
#white {
    background-color: #27AE61;
}
footer {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7em;
}
#footer {
    display: block;
    font-size: 10px;
    height: 6em;
    margin-top: 6em;
}
span {
    font-weight: bold;
    color: white;
}
#temp {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
}
.fotogrph {
    color: white;
    text-decoration: underline;
}
