* {
    box-sizing: border-box;
    font-family: "News Cycle", cursive;
}

body {
    width: 100%;
    margin: 0;
    background-color: #EEEEEE;
}
header {
    margin: 0 auto;
    height: 5em;
    display: block;
    width: 1000px;
}
nav {
    display: inline;
}
h2, h3, p {
    width: 1000px;
    margin: 1em auto;
}
h1 {
    display: inline-block;;
    text-align: left;
    margin-right: 20%;
}
li {
    display: inline-block;
    text-align: center;
    margin-right: 2em;
}
h2{
    text-transform: lowercase;
}
h3 {
    font-weight: normal;
    margin-bottom: 4em;
}
ul {
    padding: 0;
    text-transform: uppercase;
    margin: auto;
    text-align: right;
    display: inline-block;
}
a {
    text-decoration: none;
    color: black;
}
.selected {
    color: #27AE61;
}
#bg {
    background-color: #27AE61;
    background-image: url(../images/banner.png);
    background-size: cover;
}
#bg button {
    background-color: #2B3F48;
    color :white;
    padding: 0.6em 1.5em;
    border: none;
    border-radius: 6px;
}
#bg, #white {
    color: white;
}
#white button {
    background-color: white;
    color :#27AE61;
    padding: 0.6em 1.5em;
    border: none;
    border-radius: 6px;
}
img {
    border-radius: 50%;
    margin: 4em 1em;
}
section {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 1em;
}
button {
    text-transform: uppercase;
    background-color: #27AE61;
    color :white;
    padding: 0.6em 1.5em;
    border: none;
    border-radius: 6px;
    margin: 3em 0;
}
#white {
    background-color: #27AE61;
}
footer {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7em;
    height: 20em;
    display: table-cell;
    vertical-align: middle;
    width: 1000px;
}
#footer {
    height: 220px;
    margin-top: 10em;
    display: initial;
}
span {
    font-weight: bold;
}
#temp {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;

}
.fotogrph {
    color: white;
    text-decoration: underline;
}
