* {
    box-sizing: border-box;
    font-family: "News Cycle", cursive;
}
body {
    width: 100%;
    margin: 0;
    background-color: #EEEEEE;
}
header {
    margin: 0 auto;
    height: 5em;
    width: 1000px;
}
nav {
    display: inline;
}
h2, h3, p {
    width: 1000px;
    margin: 1em auto;
}
li {
    display: inline-block;
    text-align: center;
    margin-right: 2em;
}
h1 {
    display: inline-block;
    margin-right: 20%;
}
h2{
    font-size: 55px;
}
h3 {
    margin-bottom: 4em;
    font-size: 22px;
}
ul {
    margin: auto;
    text-align: right;
    display: inline-block;
}
img {
    margin: 4em 1em;
    width: 150px;
}
button {
    margin: 3em 3em;
}
footer {
    display: flex;
    height: 220px;
}
#footer {
    margin-top: 10em;
}
/*PageContactUs*/
form {
    width: 50em;
    margin: 5% auto;
}
label {
    display: inline;
    font-size: 18px;
}
h4 {
    font-size: 27px;
}
h5 {
    font-size: 22px;
}
fieldset input, fieldset textarea {
    line-height: 2em;
}
legend {
    font-size: 20px;
    margin-left: -3.7em;
    margin-bottom: 2em;
}
em {
    height: 2.5em;
    line-height: 2.2em;
    width: 2.5em;
}
