header {
    height: auto;
}
li {
    display: inline-block;
    text-align: center;
    margin-right: 2em;
    margin-bottom: 1em;
}
ul {
    text-align: center;
}
img {
    width: 100px;
}
/*pageContactUs*/
form {
    width: 90%;
    margin: 5% auto;
}
label {
    display: inline;
}

legend {
    margin-left: -4.3em;
}
em {
    height: 2.5em;
    line-height: 2.2em;
    width: 2.5em;
}
